<server description="Sample Liberty server">
    <!-- tag::features[] -->
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>mpMetrics-2.2</feature>
        <!-- tag::mpHealth[] -->
        <feature>mpHealth-2.2</feature>
        <!-- end::mpHealth[] -->
        <feature>mpConfig-1.4</feature>
        <feature>jpa-2.2</feature>
        <feature>jdbc-4.2</feature>
        <feature>ejb-3.2</feature>
		<feature>jms-2.0</feature>
		<feature>mdb-3.2</feature>
		<feature>localConnector-1.0</feature>
    </featureManager>
    <!-- end::features[] -->

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <webApplication location="db-mq-poc.war" contextRoot="/" />
    <mpMetrics authentication="false"/>
    <library id="jdbcLib">
            <fileset dir="jdbc" includes="*.jar"/>
    </library>

    <resourceAdapter id="wmqjmsra"
		location="${server.config.dir}/wmq.jmsra-9.2.1.0.rar" />

	<jmsConnectionFactory
		connectionManagerRef="ConMgr6" jndiName="jms/wmqCF">
		<properties.wmqjmsra channel="DEV.APP.SVRCONN"
			hostName="localhost" password="${MQ_PASSWD}" port="1414"
			queueManager="QM1" transportType="CLIENT" userName="app" />
	</jmsConnectionFactory>
	<connectionManager id="ConMgr6" maxPoolSize="2"/>

	<jmsActivationSpec id="db-mq-poc/SampleListenerMDB">
		<properties.wmqjmsra channel="DEV.APP.SVRCONN"
			destinationRef="jms/queue1" destinationType="javax.jms.Queue"
			hostName="localhost" password="${MQ_PASSWD}" port="1414"
			queueManager="QM1" transportType="CLIENT" userName="app" />
	</jmsActivationSpec>

	<jmsQueue id="jms/queue1" jndiName="jms/queue1">
		<properties.wmqjmsra baseQueueManagerName="QM1"
			baseQueueName="DEV.QUEUE.1" />
	</jmsQueue>
    <dataSource jndiName="DefaultDataSource">
         <jdbcDriver libraryRef="jdbcLib"/>
         <properties.db2.jcc serverName="localhost" portNumber="50000"
                databaseName="${DB_NAME}"
                user="${DB_USER}"
                password="${DB_PWD}"/>
    </dataSource>
    <!-- tag::logging[] -->
    <logging traceSpecification="com.ibm.ws.microprofile.health.*=all" />
    <!-- end::logging[] -->

    <httpEndpoint host="*" httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <variable name="io_openliberty_guides_system_inMaintenance" value="false"/>
</server>
